
#nav-row-2 {
  display: flex;
  justify-content: center;
  padding: 1% 0% 1% 0%;
  margin: 1% 0% 1% 0%;
  font-size: 22px;
  font-weight: bold;
}

#Matchstravaganza {
  background-color: #f3e2b3;
  color: #27b46e;
  width: max-content;
  font-size: 48pt;
  margin: 20px auto 30px auto;
  border: groove 5px black;
  padding: 10px 100px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

#timer {
  width: max-content;
  margin: 5px auto;
  font-size: 24pt;
  border: groove 5px black;
  border-radius: 5px;
  padding: 5px;
  background-color: #edc02c;
}

#game {
  width: 1000px;
  border: 3px solid black;
  margin: 10px auto;
  padding: 10px 0;
}

.card-container {
  background-color: #27b46e;
  width: 170px;
  height: 170px;
  border: 5px groove black;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
}

.card-row {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: center;
}

/* Hide image behind background */
#game img {
  visibility: hidden;
  height: 170px;
  width: 170px;
}

#start-game, #reset-game {
  display: flex;
  background-color: #edc02c;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  margin: 5px auto;
}

#start-game:active, #reset-game:active {
  margin-top: 7px;
  margin-bottom: 3px;
  box-shadow: none;
}

#reset-game {
  display: none;
}

#instructions {
  width: fit-content;
  margin: 20px auto 50px auto;
  border: groove 5px black;
  padding: 10px 20px 20px;
  background-color: #F03613;
  color: #f3e2b3;
}

#instructions h3 {
  font-size: 18pt;
  font-weight: bold;
  margin: 0 auto 10px auto;
  /* border: 2px solid black; */
  width: max-content;
  padding: 5px; 
}

#instructions li {
  font-size: large;
  padding: 4px 0;
}
