h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  background-color: #f3e2b3;
  color: #27b46e;
  width: max-content;
  font-size: 48pt;
  margin: 20px auto 30px auto;
  border: groove 5px black;
  border-radius: 10px;
  padding: 10px 100px;
}

#high-scores {
  display: flex;
  justify-content: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-style: groove;
  border-width: 5px;
  border-color: black;
  width: 960px;
  height: fit-content;
  margin: 0% 0% 5% 0%;
}

thead td {
  text-align:center;
  padding: 4% 1% 0.7% 1%;
  font-size: 20px;
  font-weight: bold;
  background-color: #edc02c;
  color: black;
}

thead {
  border-style: solid;
  border-bottom-width: 3px;
}

td {
  background-color: #f3e2b3;
  color: #27b46e;
  font-weight: bolder;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  padding: 3%;
  font-size: 18px;
}