#gameofweek:hover {
  background-color: aquamarine;
  DISPLAY: FLEX;
      JUSTIFY-CONTENT: SPACE-AROUND;
      ALIGN-CONTENT: baseline;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
 margin: auto;
}

.container img {
  width: 100%;
  height: auto;
  
}

.container .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}



#sponsorname {
  DISPLAY: FLEX;
  JUSTIFY-CONTENT: SPACE-AROUND;
  padding-right: 3%;
}

#instructions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#user-data {

  width: max-content;
  border-style: solid;
  border-width: thick;
  margin: auto;
  text-align: center;
  margin-top: 2%;

}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 2%;

}

#upcoming-games {
  margin-top: 1%;
  display: flex;
  justify-content: center;


}

a {
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 1%;
}

#play-now {}