#nav-row-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#username-sponsor {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: bold;
}

#username {
  padding: 0% 10% 0% 0%;
}

#sponsor {
  padding: 0% 5% 0% 0%;
}

#nav-row-2 {
  display: block;
  text-align: center;
  padding: 1% 0% 1% 0%;
  margin: 1% 0% 1% 0%;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  padding: .8% 2% .8% 2%;
  background-color: rgb(230, 230, 230);
  border: 2.5px solid black;
  border-radius: 5px;
}

.nav:hover {
  background-color: lightgray;
}

